@using BlogWebsite.Core.Concrete
@using BlogWebsite.Core.DTO.BlogPost
@inject Microsoft.AspNetCore.Identity.UserManager<UserEntity> UserManager
@{
    Layout = "_AuthorLayout";
}
@model BlogPostCreateCombineModel;

@{
    var userId = UserManager.GetUserId(User);
}

<h1>BLOG POST CREATE</h1>

<form asp-area="" asp-controller="Author" asp-action="Create">
    <div class="form-group">
        <label for="category">Category</label>
        <select asp-for="BlogPostCreateDTO.CategoryId">
            @foreach (var category in Model.CategoryDTO)
            {
                <option value="@category.Id">@category.CategoryName</option>
            }
        </select>
    </div>
    @* <div class="form-group">
    <label for="tags">Tags</label>
    <input type="text" class="form-control" id="tags" placeholder="seperate tags with comma..." asp-for="blogposttags">
    </div> *@
    <div class="form-group">
        <label for="header">Header</label>
        <input type="text" class="form-control" id="header" placeholder="Header" asp-for="BlogPostCreateDTO.Header">
    </div>
    <div class="form-group">
        <label for="content">Content</label>
        <textarea class="summernote" id="summernote" asp-for="BlogPostCreateDTO.Content"></textarea>
    </div>
    <div class="form-group">
        <label for="status">Status</label>
        <select asp-for="BlogPostCreateDTO.Status">
            <option value="true">Yayında</option>
            <option value="false">Yayında Değil</option>
        </select>
    </div>
    <input type="hidden" value="@userId" asp-for="BlogPostCreateDTO.UserId" />
    <button type="submit" class="btn btn-primary" onclick="submitForm()">Submit</button>
</form>

<script>
    $(document).ready(function () {
        $('.summernote').summernote();
    });

    function submitForm() {
        // Summernote içeriğini al
        var content = $('#summernote').summernote('code');

        // Summernote içeriğini BlogPostCreateDTO'ya ata
        $('#BlogPostCreateDTO_Content').val(content);

        // Formu sunucuya gönder
        $('#blogPostForm').submit();
    }
        
</script>