
@inject UserManager<UserEntity> UserManager

@{
    if (User.Identity.IsAuthenticated == false)
    {
        Layout = "_Layout";
    }
    else
    {
        var user = await UserManager.FindByNameAsync(UserManager.GetUserName(User));
        var userRoles = await UserManager.GetRolesAsync(user);
        foreach (var userRole in userRoles)
        {
            if (userRole == "Admin")
            {
                Layout = "_AdminLayout";
            }
            else if (userRole == "Author")
            {
                Layout = "_AuthorLayout";
            }
        }
    }
}

@model List<BlogPostDTO>

<div class="row">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var blogPost in Model)
        {
            <div class="col">
                <div class="card border-dark" style="width: 20rem;">
                    <img src="/defaultImage.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@blogPost.Header</h5>
                        <small class="text-muted">@blogPost.CategoryName</small> <br />
                        <small class="text-muted">Tags</small>
                        <p class="card-text">
                            @{
                                string[] words = blogPost.Content.Split(' ');
                                string preview = string.Join(" ", words.Take(10));
                            }
                            @preview ...
                        </p>
                        <div class="card-footer">
                            <small class="text-muted">@blogPost.AuthorFullName</small>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">@blogPost.CreatedDate</small>
                        </div>
                        <a class="btn btn-primary" href="/Home/BlogPost?id=@blogPost.Id">Go to post</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>