:root {
    --white: rgba(255, 255, 255, 1);
    --secondary-800: rgba(24, 26, 42, 1);
    --secondary-400: rgba(151, 152, 159, 1);
    --secondary-500: rgba(105, 106, 117, 1);
    --theme-1primary: rgba(75, 107, 251, 1);
    --secondary-600: rgba(59, 60, 74, 1);
    --secondary-900: rgba(20, 22, 36, 1);
    --secondary-200: rgba(220, 221, 223, 1);
    --secondary-100: rgba(232, 232, 234, 1);
    --secondary-50: rgba(246, 246, 247, 1);
    --body-b5-medium-font-family: "WorkSans-Medium", Helvetica;
    --body-b5-medium-font-weight: 500;
    --body-b5-medium-font-size: 14px;
    --body-b5-medium-letter-spacing: 0px;
    --body-b5-medium-line-height: 20px;
    --body-b5-medium-font-style: normal;
    --heading-h1-semibold-font-family: "WorkSans-SemiBold", Helvetica;
    --heading-h1-semibold-font-weight: 600;
    --heading-h1-semibold-font-size: 36px;
    --heading-h1-semibold-letter-spacing: 0px;
    --heading-h1-semibold-line-height: 40px;
    --heading-h1-semibold-font-style: normal;
    --body-b4-medium-font-family: "WorkSans-Medium", Helvetica;
    --body-b4-medium-font-weight: 500;
    --body-b4-medium-font-size: 16px;
    --body-b4-medium-letter-spacing: 0px;
    --body-b4-medium-line-height: 24px;
    --body-b4-medium-font-style: normal;
    --body-b4-regular-font-family: "WorkSans-Regular", Helvetica;
    --body-b4-regular-font-weight: 400;
    --body-b4-regular-font-size: 16px;
    --body-b4-regular-letter-spacing: 0px;
    --body-b4-regular-line-height: 24px;
    --body-b4-regular-font-style: normal;
    --body-b5-regular-font-family: "WorkSans-Regular", Helvetica;
    --body-b5-regular-font-weight: 400;
    --body-b5-regular-font-size: 14px;
    --body-b5-regular-letter-spacing: 0px;
    --body-b5-regular-line-height: 20px;
    --body-b5-regular-font-style: normal;
    --heading-h4-semibold-font-family: "WorkSans-SemiBold", Helvetica;
    --heading-h4-semibold-font-weight: 600;
    --heading-h4-semibold-font-size: 20px;
    --heading-h4-semibold-letter-spacing: 0px;
    --heading-h4-semibold-line-height: 24px;
    --heading-h4-semibold-font-style: normal;
    --body-b3-regular-font-family: "WorkSans-Regular", Helvetica;
    --body-b3-regular-font-weight: 400;
    --body-b3-regular-font-size: 18px;
    --body-b3-regular-letter-spacing: 0px;
    --body-b3-regular-line-height: 26px;
    --body-b3-regular-font-style: normal;
    --heading-h3-bold-font-family: "WorkSans-Bold", Helvetica;
    --heading-h3-bold-font-weight: 700;
    --heading-h3-bold-font-size: 24px;
    --heading-h3-bold-letter-spacing: 0px;
    --heading-h3-bold-line-height: 28px;
    --heading-h3-bold-font-style: normal;
    --heading-h3-semibold-font-family: "WorkSans-SemiBold", Helvetica;
    --heading-h3-semibold-font-weight: 600;
    --heading-h3-semibold-font-size: 24px;
    --heading-h3-semibold-letter-spacing: 0px;
    --heading-h3-semibold-line-height: 28px;
    --heading-h3-semibold-font-style: normal;
    --text-lg-semi-bold-font-family: "PlusJakarta Sans-SemiBold", Helvetica;
    --text-lg-semi-bold-font-weight: 600;
    --text-lg-semi-bold-font-size: 18px;
    --text-lg-semi-bold-letter-spacing: 0px;
    --text-lg-semi-bold-line-height: 28px;
    --text-lg-semi-bold-font-style: normal;
    --text-base-regular-font-family: "PlusJakarta Sans-Regular", Helvetica;
    --text-base-regular-font-weight: 400;
    --text-base-regular-font-size: 16px;
    --text-base-regular-letter-spacing: 0px;
    --text-base-regular-line-height: 24px;
    --text-base-regular-font-style: normal;
    --text-base-semi-bold-font-family: "PlusJakarta Sans-SemiBold", Helvetica;
    --text-base-semi-bold-font-weight: 600;
    --text-base-semi-bold-font-size: 16px;
    --text-base-semi-bold-letter-spacing: 0px;
    --text-base-semi-bold-line-height: 24px;
    --text-base-semi-bold-font-style: normal;
    --text-xl-regular-font-family: "PlusJakarta Sans-Regular", Helvetica;
    --text-xl-regular-font-weight: 400;
    --text-xl-regular-font-size: 20px;
    --text-xl-regular-letter-spacing: 0px;
    --text-xl-regular-line-height: 28px;
    --text-xl-regular-font-style: normal;
    --text-xl-extra-bold-font-family: "PlusJakarta Sans-ExtraBold", Helvetica;
    --text-xl-extra-bold-font-weight: 800;
    --text-xl-extra-bold-font-size: 20px;
    --text-xl-extra-bold-letter-spacing: 0px;
    --text-xl-extra-bold-line-height: 28px;
    --text-xl-extra-bold-font-style: normal;
    --shadow-md: 0px 12px 24px -6px rgba(24, 26, 42, 0.12);
}
